<footer>
  <span class="float-left">
    GGICCI &copy;2020
    <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>
  </span>
  <span class="float-right">
    find me on
    <a href="https://github.com/ggicci">github</a> /
    <a href="https://instagram.com/ggicci">instagram</a>
  </span>
  <span class="clearfix"></span>
</footer>

<script src="https://unpkg.com/mermaid@8.5.0/dist/mermaid.min.js"></script>
<script>
  var config = {
    theme: "default",
    logLevel: "fatal",
    securityLevel: "loose",
    startOnLoad: true,
    flowchart: {
      htmlLabels: true,
    },
  };
  mermaid.initialize(config);

  // Replace <pre><code class="language-mermaid">...</code></pre>
  // to <div class="language-mermaid">...</div>
  const elements = document.querySelectorAll("pre > code.language-mermaid");
  for (let i = 0; i < elements.length; i++) {
    const code = elements[i];
    const pre = code.parentNode;
    const div = document.createElement("div");
    div.setAttribute("class", "language-mermaid");
    div.innerHTML = code.innerHTML;
    pre.parentNode.replaceChild(div, pre);
  }
  mermaid.init(".language-mermaid");
</script>
