<footer>
  <span class="float-left">
    GGICCI &copy;2020
    <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>
  </span>
  <span class="float-right">
    find me on <a href="https://twitter.com/ggicci">twitter</a> /
    <a href="https://instagram.com/ggicci">instagram</a> /
    <a href="https://github.com/ggicci">gayhub</a>
  </span>
  <span class="clearfix"></span>
</footer>

<script src="https://unpkg.com/mermaid@8.5.0/dist/mermaid.min.js"></script>
<script>
  var config = {
    theme: 'default',
    logLevel: 'fatal',
    securityLevel: 'loose',
    startOnLoad: true,
    flowchart: {
      htmlLabels: true,
    },
  }
  mermaid.initialize(config)
  // TODO(ggicci): pre > code --> div
  mermaid.init('.language-mermaid')
</script>
