---
---

code {
  font-family: "Fira Code", "Source Code Pro", Menlo, Consolas, Monaco,
    monospace;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* End hide from IE-mac */

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.highlighter-rouge {
  margin: 1.5em auto;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  padding: 0.5em 0;
}

.highlighter-rouge pre.highlight {
  line-height: 1.5em !important;
}
